<!doctype html>
<html>

<head>
    <title>Auctioner</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!--    <link href="assets/style.css" rel="stylesheet" />-->
</head>

<body>
<h1>Hi Auctioner, Welcome to Cricket Live Auction!</h1>
<div id="timer">Timer</div>
<div id="playerDetails">Player Details</div>

<div id="auction-demo">
    <!--<button id="startAuction">Start Auction</button>
    <button id="stopAuction">Stop Auction</button>-->
    <div id="bid-window">
        <div id="auctionDetails"></div>
    </div>
</div>
<script src="assets/auctionAuc.js"></script>
</body>

</html>
